:root {
  --modal-border: #D9DAE1;
  --modal-bg: #fff;
  --zindex-modal-backdrop: 1040;
  --zindex-modal: 1050;
  --modal-backdrop-opacity: .5;
  --modal-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
  --modal-padding: 26px;
  --modal-bottom-setting: 1024px;
}