
$modal-border:#D9DAE1 !default;
$modal-bg:#fff !default;
$zindex-modal-backdrop:     1040 !default;
$zindex-modal:              1050 !default;
$modal-backdrop-opacity:      .5 !default;
$modal-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10) !default;
$modal-padding:26px !default;
$modal-bottom-setting:1024px !default;