:root {
  --cal-area-minheight-map-default: 843px;
  --cal-area-minheight-map-1280: 799px;
  --cal-area-minheight-map-1024: 430px;
  --cal-area-minheight-map-768: 415px;
  --cal-area-minheight-map-490: 369px;
}
