
// Button Padding
$fe-btn-xs: 8px 10px 7px !default;
$fe-btn-sm: 8px 12px !default;
$fe-btn-md: 15px 20px 14px !default;
$fe-btn-lg: 18px 25px 18px 25px !default;
$fe-btn-lg-w: 150px;
$fe-border-radius-xs: 2px !default;
$fe-border-radius-sm: 4px !default;
$fe-border-radius-md: 4px !default;
$fe-border-radius-lg: 6px !default;
