/* display */
/* breakpoint */
/* breakpoint : content */
.program__step-bar {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin: 0 0 50px 0;
  width: 100%;
}
@media (max-width: 490px) {
  .program__step-bar {
    margin: 0 0 74px 0;
  }
}
.program__step-bar .step__item {
  min-width: 151px;
  margin: 0 10px 0 0;
}
@media (max-width: 768px) {
  .program__step-bar .step__item {
    min-width: auto;
    width: 100%;
  }
}
.program__step-bar .step__item .item__wrap {
  position: relative;
  display: block;
}
.program__step-bar .step__item .item__wrap::after {
  position: absolute;
  top: 12px;
  left: 34px;
  width: calc(100% - 34px);
  height: 2px;
  background-color: #D9DAE1;
  content: "";
}
@media (max-width: 490px) {
  .program__step-bar .step__item .item__wrap::after {
    left: 29px;
    width: calc(100% - 24px);
  }
}
.program__step-bar .step__item .step__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #BEC0CF;
  border-radius: 100%;
  z-index: 2;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
}
.program__step-bar .step__item .step,
.program__step-bar .step__item .step__title {
  display: block;
  line-height: 150%;
  text-align: left;
}
.program__step-bar .step__item .step {
  color: #666;
  font-size: 14px;
  font-weight: 600;
  margin: 11px 0 0 0;
}
.program__step-bar .step__item .step__title {
  color: #1D1D1D;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 490px) {
  .program__step-bar .step__item .step__title {
    display: none;
  }
}
.program__step-bar .step__item.step__item--done .step__icon {
  background-color: #123F72;
  background-size: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 6L5.72368 8.625L9.375 3' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.program__step-bar .step__item.step__item--done .item__wrap::after {
  background-color: #123F72;
}
.program__step-bar .step__item.step__item--active .step__icon {
  background-color: #2257B4;
  background-size: 14px 3px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='3' viewBox='0 0 14 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='7' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='12.5' cy='1.5' r='1.5' fill='white'/%3E%3C/svg%3E%0A");
}
.program__step-bar .step__item.step__item--active .step {
  color: #2257B4;
}
@media (max-width: 490px) {
  .program__step-bar .step__item.step__item--active .step__title {
    position: absolute;
    left: 0;
    bottom: -36px;
    display: block;
  }
}
.program__step-bar .step__item:last-child {
  min-width: auto;
  margin: 0;
}
@media (max-width: 768px) {
  .program__step-bar .step__item:last-child {
    width: auto;
  }
}
.program__step-bar .step__item:last-child .item__wrap {
  padding-right: 0;
}
.program__step-bar .step__item:last-child .item__wrap::after {
  display: none;
}
@media (max-width: 490px) {
  .program__step-bar .step__item:last-child.step__item--done .step__title {
    position: absolute;
    left: 0;
    bottom: -36px;
    display: block;
  }
}

.age-select {
  display: block;
  margin: 30px 0 0 0;
  width: 100%;
}
.age-select .ui-list--column {
  position: relative;
  display: flex;
  width: calc(100% + 40px);
  margin: 0 -20px;
}
@media (max-width: 1280px) {
  .age-select .ui-list--column {
    width: calc(100% + 30px);
    margin: 0 -15px;
  }
}
@media (max-width: 640px) {
  .age-select .ui-list--column {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
.age-select .ui-list--column .as-inner {
  padding: 0 20px;
  width: 50%;
}
@media (max-width: 1280px) {
  .age-select .ui-list--column .as-inner {
    padding: 0 15px;
  }
}
@media (max-width: 640px) {
  .age-select .ui-list--column .as-inner {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 640px) {
  .age-select .ui-list--column .as-inner + .as-inner {
    margin: 20px 0 0 0;
  }
}
.age-select .ui-list--column .as-item {
  display: block;
  border-radius: 16px;
  border: 1px solid #D9DAE1;
  background-color: #FFF;
  padding: 80px 30px 40px;
  min-height: 355px;
  height: 100%;
}
@media (max-width: 1280px) {
  .age-select .ui-list--column .as-item {
    padding: 60px 30px 40px;
  }
}
@media (max-width: 768px) {
  .age-select .ui-list--column .as-item {
    padding: 30px;
    min-height: 320px;
  }
}
@media (max-width: 640px) {
  .age-select .ui-list--column .as-item {
    min-height: auto;
  }
}
@media (max-width: 490px) {
  .age-select .ui-list--column .as-item {
    padding: 20px;
  }
}
.age-select .as-title {
  display: block;
  color: #222222;
  text-align: center;
  font-family: "title_font";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.24px;
}
@media (max-width: 768px) {
  .age-select .as-title {
    font-size: 20px;
  }
}
.age-select .as-sub-title {
  display: block;
  color: #222222;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
  margin: 10px 0 0 0;
}
@media (max-width: 768px) {
  .age-select .as-sub-title {
    font-size: 15px;
  }
}
.age-select .as-sub-ul {
  display: block;
  margin: 10px 0 0 0;
}
.age-select .as-sub-ul .as-sub-li {
  font-size: 0;
  text-align: center;
}
.age-select .as-sub-ul .as-sub-li + .as-sub-li {
  margin: 5px 0 0 0;
}
.age-select .as-sub-ul .as-sub-li .as-sub-title {
  margin: 0;
  display: inline-block;
  padding: 0 0 0 10px;
  position: relative;
}
@media (max-width: 1280px) {
  .age-select .as-sub-ul .as-sub-li .as-sub-title {
    display: block;
    width: 100%;
  }
}
.age-select .as-sub-ul .as-sub-li .as-sub-title::before {
  position: absolute;
  left: 0;
  top: 10px;
  display: block;
  width: 3px;
  height: 3px;
  background-color: #2257B4;
  content: "";
  border-radius: 100%;
}
.age-select .as-btn-wrap {
  display: block;
  text-align: center;
  margin: 20px 0 0 0;
}
.age-select .as-guide {
  display: block;
  margin: 50px 0 0 0;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 0;
}
@media (max-width: 768px) {
  .age-select .as-guide {
    margin: 30px 0 0 0;
  }
}
.age-select .as-guide .fe-btn {
  margin: 20px 0 0 0;
}
.age-select .as-guide-text {
  position: relative;
  display: inline-block;
  padding: 0 0 0 21px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.56px;
  color: #2257B4;
}
.age-select .as-guide-text + .as-guide-text {
  margin: 12px 0 0 0;
}
.age-select .as-guide-text .icon {
  position: absolute;
  left: 0;
  top: 1px;
  display: block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8.49929' cy='8.00008' r='7.27273' fill='%233180EF'/%3E%3Cpath d='M7.95459 4.36328H9.0455V5.45419H7.95459V4.36328Z' fill='white'/%3E%3Cpath d='M7.95459 6.5451H9.0455V11.636H7.95459V6.5451Z' fill='white'/%3E%3C/svg%3E%0A");
}

.result-box {
  position: relative;
  display: block;
  width: 100%;
  background-color: #F8FAFE;
  border-radius: 20px;
  overflow: hidden;
  margin: 30px 0 0 0;
}
.result-box .rb-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 120px 30px 100px;
  text-align: center;
  min-height: 454px;
}
@media (max-width: 1280px) {
  .result-box .rb-inner {
    min-height: auto;
  }
}
@media (max-width: 768px) {
  .result-box .rb-inner {
    padding: 60px 30px;
  }
}
@media (max-width: 490px) {
  .result-box .rb-inner {
    padding: 50px 10px;
  }
}
.result-box .rb-inner::before, .result-box .rb-inner::after {
  position: absolute;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}
.result-box .rb-inner::before {
  left: 0;
  top: 0;
  width: 277px;
  height: 277px;
  background-image: url("data:image/svg+xml,%3Csvg width='277' height='277' viewBox='0 0 277 277' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.05'%3E%3Cpath d='M-93 -93H-0.507607V-0.507607H-93V-93Z' fill='%230085B3'/%3E%3Cpath d='M-93 -0.507607H-0.507607V91.9848H-93V-0.507607Z' fill='%230085B3'/%3E%3Cpath d='M-0.507607 -0.507607H91.9848V91.9848H-0.507607V-0.507607Z' fill='%230085B3'/%3E%3Cpath d='M-0.507607 91.9848H91.9848V184.477H-0.507607V91.9848Z' fill='%230085B3'/%3E%3Cpath d='M91.9848 91.9848H184.477V184.477H91.9848V91.9848Z' fill='%230085B3'/%3E%3Cpath d='M91.9848 184.477H184.477V276.97H91.9848V184.477Z' fill='%230085B3'/%3E%3Cpath d='M184.477 184.477H276.97V276.97H184.477V184.477Z' fill='%230085B3'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media (max-width: 1024px) {
  .result-box .rb-inner::before {
    width: 194px;
    height: 194px;
  }
}
@media (max-width: 768px) {
  .result-box .rb-inner::before {
    width: 111px;
    height: 111px;
  }
}
.result-box .rb-inner::after {
  right: 0;
  bottom: 0;
  width: 370px;
  height: 185px;
  background-image: url("data:image/svg+xml,%3Csvg width='370' height='185' viewBox='0 0 370 185' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.05'%3E%3Cpath d='M369.97 0H277.477V92.4924H369.97V0Z' fill='%2300906B'/%3E%3Cpath d='M369.97 92.4924H277.477V184.985H369.97V92.4924Z' fill='%2300906B'/%3E%3Cpath d='M277.477 92.4924H184.985V184.985H277.477V92.4924Z' fill='%2300906B'/%3E%3Cpath d='M277.477 184.985H184.985V277.477H277.477V184.985Z' fill='%2300906B'/%3E%3Cpath d='M184.985 184.985H92.4926V277.477H184.985V184.985Z' fill='%2300906B'/%3E%3Cpath d='M184.985 277.477H92.4926V369.97H184.985V277.477Z' fill='%2300906B'/%3E%3Cpath d='M92.4926 277.477H0.000183105V369.97H92.4926V277.477Z' fill='%2300906B'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media (max-width: 1024px) {
  .result-box .rb-inner::after {
    width: 259px;
    height: 130px;
  }
}
@media (max-width: 768px) {
  .result-box .rb-inner::after {
    width: 148px;
    height: 74px;
  }
}
.result-box .rb-title {
  display: block;
  color: #222222;
  font-family: "title_font";
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 490px) {
  .result-box .rb-title {
    font-size: 20px;
  }
}
.result-box .rb-contents {
  display: block;
  margin: 10px 0 0 0;
  color: #666;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.36px;
}
@media (max-width: 768px) {
  .result-box .rb-contents {
    font-size: 16px;
  }
}
@media (max-width: 490px) {
  .result-box .rb-contents {
    font-size: 15px;
  }
}
.result-box .rb-point {
  color: #2257B4;
}
.result-box .rb-point2 {
  color: #123F72;
}
.result-box .rb-point3 {
  color: #DB214D;
}
.result-box .rb-point4 {
  color: #E35276;
}
.result-box .rb-fw-regular {
  font-weight: 400;
}
.result-box .fe-btn_box {
  margin: 50px -3px 0;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .result-box .fe-btn_box {
    margin: 30px -3px 0;
  }
}
.result-box .fe-btn_box .fe-btn_group {
  max-width: 295px;
  width: 100%;
}
.result-box .fe-btn_box .fe-btn {
  width: 100%;
}
.result-box .rb-comment {
  display: block;
  margin: 20px 0 0 0;
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 490px) {
  .result-box .rb-comment {
    font-size: 15px;
  }
}
.result-box .rb-text {
  display: block;
  color: #1D1D1D;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}
@media (max-width: 420px) {
  .result-box .rb-text {
    font-size: 15px;
  }
}
.result-box .list-1st .fe-btn_group {
  margin-top: 5px;
}
.result-box.findInfo .rb-inner {
  min-height: auto;
}
.result-box.findInfo .rb-find-item {
  width: 100%;
}
.result-box.findInfo .rb-find-item + .rb-find-item {
  margin: 50px 0 0 0;
  padding: 50px 0 0 0;
  border-top: 1px dashed #d9dae1;
}
.result-box.type2 .rb-inner {
  display: block;
  text-align: left;
  padding: 60px 30px;
  min-height: auto;
}
@media (max-width: 490px) {
  .result-box.type2 .rb-inner {
    padding: 50px 10px;
  }
}
.result-box.type3 {
  border-radius: 0;
  overflow: visible;
  margin: 0;
  min-height: 330px;
  background-color: transparent;
}
@media (max-width: 768px) {
  .result-box.type3 {
    min-height: auto;
  }
}
.result-box.type3::before, .result-box.type3::after {
  position: absolute;
  top: 0;
  display: block;
  width: 1000%;
  height: 100%;
  background-color: #f8fafe;
  content: "";
  z-index: -1;
}
.result-box.type3::before {
  left: -1000%;
}
.result-box.type3::after {
  right: -1000%;
}
.result-box.type3 .rb-inner {
  min-height: 330px;
  padding-top: 87px;
  padding-bottom: 69px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100vw;
  background-color: #f8fafe;
}
@media (max-width: 1420px) {
  .result-box.type3 .rb-inner {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .result-box.type3 .rb-inner {
    min-height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 1420px) {
  .result-box.type3 .rb-inner::before {
    left: -50px;
  }
}
@media (max-width: 767.98px) {
  .result-box.type3 .rb-inner::before {
    left: -30px;
  }
}
@media (max-width: 590px) {
  .result-box.type3 .rb-inner::before {
    left: -20px;
  }
}
@media (max-width: 1420px) {
  .result-box.type3 .rb-inner::after {
    right: -50px;
  }
}
@media (max-width: 767.98px) {
  .result-box.type3 .rb-inner::after {
    right: -30px;
  }
}
@media (max-width: 590px) {
  .result-box.type3 .rb-inner::after {
    right: -20px;
  }
}
.result-box.type3 .rb-title {
  font-size: 36px;
}
@media (max-width: 1024px) {
  .result-box.type3 .rb-title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .result-box.type3 .rb-title {
    font-size: 26px;
  }
}
@media (max-width: 560px) {
  .result-box.type3 .rb-title {
    font-size: 24px;
  }
}
@media (max-width: 490px) {
  .result-box.type3 .rb-title {
    font-size: 20px;
  }
}
.result-box.type3 .program__step-bar {
  margin: 40px 0 0 0;
}
@media (max-width: 768px) {
  .result-box.type3 .program__step-bar {
    margin: 30px 0 0 0;
  }
}
.result-box.type3 .program__step-bar .step__item {
  min-width: 204px;
}
@media (max-width: 768px) {
  .result-box.type3 .program__step-bar .step__item {
    min-width: auto;
  }
}
.result-box.type3 .program__step-bar .step__item:last-child {
  min-width: auto;
}
.result-box.type3 .program__step-bar .step__item .step__title br {
  display: none;
}
@media (max-width: 1024px) {
  .result-box.type3 .program__step-bar .step__item .step__title br {
    display: block;
  }
}
@media (max-width: 490px) {
  .result-box.type3 .program__step-bar .step__item .step__title br {
    display: none;
  }
}

.p-login .ui-login,
.p-login .ui-certification {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}
.p-login .ui-certification {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px dashed #D9DAE1;
}
@media (max-width: 640px) {
  .p-login .ui-certification {
    margin-top: 30px;
    padding-top: 30px;
  }
}
.p-login .login-title {
  display: block;
  text-align: center;
  font-family: "title_font";
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #222222;
}
@media (max-width: 640px) {
  .p-login .login-title {
    font-size: 26px;
  }
}
.p-login .login-title .login-title-point {
  font-weight: 400;
}
.p-login .txt-wrap {
  display: block;
  text-align: center;
}
.p-login .txt-wrap .m-txt {
  display: block;
  color: #36404A;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 640px) {
  .p-login .txt-wrap .m-txt {
    font-size: 15px;
  }
}
.p-login .m-txt-point {
  color: #2257B4;
}
.p-login form {
  display: block;
  margin: 30px 0 0 0;
}
.p-login form .form-group + .form-group {
  margin: 15px 0 0 0;
}
@media (max-width: 640px) {
  .p-login form .form-group + .form-group {
    margin: 5px 0 0 0;
  }
}
.p-login form #id,
.p-login form #password {
  display: block;
  width: 100%;
  height: 60px;
  padding: 15px 30px 15px 60px;
  border-radius: 8px;
  border: 2px solid #F6F7F9;
  background-color: #F6F7F9;
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  transition: all 0.3s;
  background-position: left 30px center;
  background-repeat: no-repeat;
  background-size: 20px;
}
@media (max-width: 490px) {
  .p-login form #id,
  .p-login form #password {
    height: 50px;
    background-position: left 20px center;
    padding: 10px 20px 10px 50px;
    font-size: 15px;
  }
}
.p-login form #id::placeholder,
.p-login form #password::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #444;
}
@media (max-width: 490px) {
  .p-login form #id::placeholder,
  .p-login form #password::placeholder {
    font-size: 15px;
  }
}
.p-login form #id:hover, .p-login form #id:focus,
.p-login form #password:hover,
.p-login form #password:focus {
  border: 2px solid #2257B4;
}
.p-login form #id {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10C5.58376 10.0044 2.00492 13.2254 2 17.2C2 17.6418 2.39796 18 2.88888 18H17.1111C17.602 18 18 17.6418 18 17.2C17.9951 13.2254 14.4163 10.0044 10 10Z' fill='%23C9CCD3'/%3E%3Cpath d='M10 10C12.2092 10 14 8.20914 14 6C14 3.79086 12.2091 2 10 2C7.79086 2 6 3.79086 6 6C6 8.20914 7.79088 10 10 10Z' fill='%23C9CCD3'/%3E%3C/svg%3E%0A");
}
.p-login form #password {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9 7.46479V6.02817C14.9 4.69462 14.3838 3.41568 13.4648 2.47272C12.5459 1.52975 11.2996 1 10 1C8.70044 1 7.4541 1.52975 6.53518 2.47272C5.61625 3.41568 5.1 4.69462 5.1 6.02817V7.46479H5C3.89543 7.46479 3 8.36022 3 9.46479V15.8451C3 16.4166 3.22125 16.9647 3.61508 17.3688C4.0089 17.773 4.54305 18 5.1 18H14.9C15.457 18 15.9911 17.773 16.3849 17.3688C16.7788 16.9647 17 16.4166 17 15.8451V9.46479C17 8.36022 16.1046 7.46479 15 7.46479H14.9ZM10.7 13.6901H9.3V10.8169H10.7V13.6901ZM13.5 7.46479H6.5V6.02817C6.5 5.07563 6.86875 4.16211 7.52513 3.48856C8.1815 2.81501 9.07174 2.43662 10 2.43662C10.9283 2.43662 11.8185 2.81501 12.4749 3.48856C13.1313 4.16211 13.5 5.07563 13.5 6.02817V7.46479Z' fill='%23C9CCD3'/%3E%3C/svg%3E%0A");
}
.p-login form .fe-btn {
  margin: 15px 0 0 0;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  font-size: 18px;
}
@media (max-width: 640px) {
  .p-login form .fe-btn {
    font-size: 16px;
    margin: 5px 0 0 0;
  }
}
@media (max-width: 490px) {
  .p-login form .fe-btn {
    font-size: 16px;
    height: 50px;
  }
}
.p-login .find {
  margin: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-login .find .find-list {
  position: relative;
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
}
@media (max-width: 490px) {
  .p-login .find .find-list {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
  }
}
.p-login .find .find-list .link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.16px;
  white-space: nowrap;
}
@media (max-width: 640px) {
  .p-login .find .find-list .link {
    font-size: 15px;
  }
}
.p-login .find .find-list .link:hover, .p-login .find .find-list .link:focus {
  text-decoration: underline;
  text-underline-position: under;
}
.p-login .find .find-list::before {
  position: absolute;
  right: 0;
  top: 6px;
  display: block;
  width: 1px;
  height: 12px;
  background-color: rgba(29, 29, 29, 0.3);
  content: "";
}
.p-login .find .find-list:last-child {
  margin-right: 0;
  padding-right: 0;
}
.p-login .find .find-list:last-child::before {
  display: none;
}
.p-login .find .find-list.membership .link {
  font-weight: 700;
}
.p-login .sns-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 14px);
  margin: 30px -7px 0;
}
@media (max-width: 640px) {
  .p-login .sns-btn {
    width: calc(100% + 6px);
    margin: 30px -3px 0;
  }
}
@media (max-width: 490px) {
  .p-login .sns-btn {
    width: 100%;
    margin: 30px 0 0;
    flex-direction: column;
  }
}
.p-login .sns-btn .fe-btn {
  margin: 0 7px;
  height: 60px;
  border-radius: 8px;
  width: 33.3333333333%;
  font-size: 18px;
  padding: 15px 10px 14px;
}
@media (max-width: 640px) {
  .p-login .sns-btn .fe-btn {
    font-size: 16px;
    margin: 0 3px;
  }
}
@media (max-width: 490px) {
  .p-login .sns-btn .fe-btn {
    height: 50px;
    width: 100%;
    margin: 0;
  }
}
.p-login .sns-btn .fe-btn .fa {
  margin: 0 8px 0 0;
  width: 22px;
  height: 22px;
  min-width: 22px;
}
@media (max-width: 490px) {
  .p-login .sns-btn .fe-btn + .fe-btn {
    margin: 5px 0 0 0;
  }
}