@use '../../../../common/abstracts' as *;
@use 'variables' as calendar-vars;

// 캘린터 구간별 높이값
$cal-area-minheight: map-get(calendar-vars.$cal-area-minheight-map, default);

// 캘린더 최소 높이값
.ui-calendar{
    .col {
        &.col2 {
            .col-item{
                min-height: $cal-area-minheight;
            }
        }
    }
}

.list-area{
    &.type1{
        // 우측 리스트 높이값
        .inner{
            max-height: $cal-area-minheight;
        }
        // nodata 스타일
        .ui-message{
            .message-result{min-height: $cal-area-minheight;border-radius: 16px;
                @media (max-width:490px) {border-radius: 8px;}
            }
            .nopage{
                @media (max-width:1024px) {padding: 30px 0;}
            }
        }
    }
}

// 각 뷰포트에서 너비 변경 (캘린더, 우측 리스트)
@each $breakpoint, $height in calendar-vars.$cal-area-minheight-map {
    @if $breakpoint != default {
        @media (max-width: #{$breakpoint}) {
            .ui-calendar{
                .col {
                    &.col2 {
                        .col-item{
                            min-height: $height;
                        }
                    }
                }
            }
            .list-area{
                &.type1{
                    .inner{
                        max-height: $height;
                    }
                    .ui-message{
                        .message-result{min-height: $height;}
                    }
                }
            }
        }
    }
}

// 캘린더 스타일
.ui-calendar {
    position: relative; display: block; width: 100%; height: 100%; min-height: 400px;
    & * {color: #000;}
    .col {
        // col1 -> fullsize, col2 -> 좌측 달력 / 우측 리스트 혹은 다른 콘텐츠
        display: flex; width: 100%; height: 100%; margin: 0; padding: 0;
        &.col1 {
            .col-item {max-width: none; width: 100%;}
        }
        &.col2 {
            max-width: none; width: calc(100% + 30px); margin: 0 -15px;
            @media (max-width: 1024px) {width: 100%; margin: 0;flex-wrap:wrap;}
            .col-item{
                width: calc(50% - 30px); margin: 0 15px;
                @media (max-width: 1024px) {width: 100%; margin: 0; margin-bottom: 30px;min-height: auto;
                    &:last-child{margin-bottom: 0;}
                }
                @media (max-width: 490px) {margin-bottom: 20px;
                    &:last-child{margin-bottom: 0;}
                }
            }
        }
    }

    // 박스 테두리 스타일
    .custom__box{
        &.type1{border: 1px solid #d9dae1;border-radius: 16px;
            @media (max-width:490px) {border-radius: 8px;}
        }
    }

    // 달력 하단 스타일 (calendar-component3.html, 임상연구보호센터 - 교육신청 관리 - 교육 일정)
    .bottom_box{
        &.n2{display: flex;justify-content: space-between;align-items: center;
            @media (max-width:490px) {flex-wrap:wrap;
                > * {width: 100%;margin-bottom: 10px;
                    :last-child{margin-bottom: 0;}
                }
            }
        }
    }

    // 공통 제목
    .calDate,
    .cal_title,
    #calendar .fc-header-toolbar h2{
        font-size: 30px;font-weight: 700;font-family: "title_font";color: #000;display: block;text-align: center;
        @media (max-width:1280px) {font-size: 28px;}
        @media (max-width:768px) {font-size: 24px;}
        @media (max-width:490px) {font-size: 20px;}
    }

    // 좌우 화살표 버튼
    .calHeader .calBtn,
    #scheduleListView .h-inner a,
    #calendar .fc-header-toolbar .fc-button .fc-icon{
        position: absolute;top: 0;display: inline-block;width: 24px;height: 24px;background-position: center;background-repeat: no-repeat;margin: 0;padding: 0;transition: all .3s;
    }

    // 범례 (오늘날짜, 선택날짜, 예약불가, 예약가능 ...)
    .legend-box{
        .item{color: #444;font-size: 14px;font-weight: 400;line-height: 1;padding-left: 21px;position: relative;
            @media (max-width:490px) {font-size: 13px;padding-left: 15px;line-height: 1.05;}
            &::before{position: absolute;left: 0;top: 50%;transform: translate(0,-50%);width: 16px;height: 16px;content: '';
                @media (max-width:490px) {width: 12px;height: 12px;}
            }
            &.today{
                &.type1{
                    &::before{border: 1px solid #D9DAE1;background: #F3F6FC;}
                }
                &.type2{
                    &::before{border: 2px solid #1E2D75;background: #fff;}
                }
            }
            &.select_day{
                &.type1{
                    &::before{background: #3180EF;}
                }
            }
            &.unavailable{
                &.type1{
                    &::before{border: 1px solid #D9DAE1;background:#F6F7F9;}
                }
            }
            &.reservable{
                &.type1{
                    &::before{border: 1px solid #D9DAE1;background: #fff;}
                }
            }
        }
        &.type1{display: flex;flex-wrap:wrap;margin: -15px;
            @media (max-width:490px) {margin: -5px;}
            .item{margin: 15px;
                @media (max-width:490px) {margin: 5px;}
            }
        }
        &.type2{display: flex;flex-direction:column;
            .item{margin-bottom: 20px;
                &:last-child{margin-bottom: 0;}
            }
        }
    }

    // 교육 및 홍보 구분 출력
    .state{
        font-size: 16px;display: inline-block;margin-left: 15px;padding: 8px 10px;color: #fff;line-height: 1;
        @media (max-width:1280px) {font-size: 15px;}
        // @media (max-width:768px) {font-size: 14px;}
        @media (max-width:490px) {margin-left: 0; margin-bottom: 15px;}
        &.state1{background: #1B68D3;}
        &.state2{background: #019E75;}
    }

    // 좌측 달력 영역
    .calendar-area{
        &.type1{
            @media (max-width:1280px) {min-width: 500px;}
            @media (max-width:1024px) {min-width: auto;}
            .cal-box{display: block;width: 100%;background-color: #FFF;padding: 52px 38px;
                @media (max-width:1280px) {padding: 30px;}
                @media (max-width:490px) {padding: 20px;}
            }
            #calendar{
                margin-bottom: 34px;
                @media (max-width:768px) {margin-bottom: 20px;}
                .fc-header-toolbar .fc-left, 
                .fc-header-toolbar .fc-right, 
                .fc-header-toolbar .fc-prevYear-button, 
                .fc-header-toolbar .fc-nextYear-button {
                    display: none;
                }
                .fc-header-toolbar{margin-bottom: 34px;
                    @media (max-width:768px) {margin-bottom: 20px;}
                    @media (max-width:490px) {margin-bottom: 10px;}
                    .fc-center {
                        position: relative;display: block;width: 100%;
                    }
                    h2 {
                        width: 100%;margin: 0;line-height: 30.36px;float: none;
                    }
                    .fc-button {
                        float: none;position: absolute;top: 50%;transform: translate(0, -50%);margin: 0;width: 24px;height: 24px;border-radius: 0;padding: 0;background: none;border: none;text-shadow: none;box-shadow: none;z-index: 1;
                        .fc-icon{
                            &::after{display: none;}
                        }
                        &.fc-prev-button {
                            left: 0;
                            .fc-icon{
                                left: inherit;
                                background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.91 7.11773V9.09H3.87211L9.41766 14.6123L8.00227 16.0277L0.0899999 8.09227L8.02547 0.18L9.41766 1.57219L3.87211 7.11773H17.91Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                            }
                        }
                        &.fc-next-button {
                            right: 0;
                            .fc-icon{
                                right: inherit;
                                background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0899999 7.11773V9.09H14.1279L8.58234 14.6123L9.99773 16.0277L17.91 8.09227L9.97453 0.18L8.58234 1.57219L14.1279 7.11773H0.0899999Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                            }
                        }
                    }
                }
                .fc-view-container{overflow: hidden;}
                .fc-view {
                    .fc-widget-header, 
                    .fc-widget-content {
                        border: none;
                    }
                    .fc-head-container{
                        border-top: 1px solid #666;
                        border-bottom: 1px solid #D9DAE1;
                        .fc-row {
                            min-height: auto;
                        }
                    }
                    .fc-day-header {
                        padding: 14px 0;
                        @media (max-width:490px) {padding: 6px 0;}
                        span {color: #1D1D1D;font-size: 18px;font-weight: 600;line-height: 30.36px;
                            @media (max-width:768px) {font-size: 15px;}
                        }
                    }
                    .fc-body {border-bottom: 1px solid #D9DAE1;}
                    .fc-sun span, 
                    .fc-sun .fc-day-number {
                        color: #D14709;
                    }
                    
                    .fc-sat span, 
                    .fc-sat .fc-day-number {
                        color: #2678B1;
                    }
    
                    .fc-day-number {
                        width: 100%;text-align: center;padding: 16px 0 0 0;
                        color: #1D1D1D;letter-spacing: -0.16px;
                        @media (max-width:768px) {font-size: 15px;}
                    }
                    
    
                    .fc-day {
                        // border-right: 1px solid #D9DAE1;
                        min-height: 93px;
                        @media (max-width:768px) {min-height: 60px;}
                    }
    
                    .fc-widget-content{
                        // border-bottom: 1px solid #D9DAE1;
                        .fc-row{min-height: 93px;
                            @media (max-width:768px) {min-height: 60px;}
                        }
                        .fc-bg{
                            td{border: 1px solid #D9DAE1;}
                            td.fc-today{
                                background-color: #F3F6FC;
                            }
                        }
                    }
    
                    .fc-time, 
                    .fc-title {
                        display: none;
                    }
    
                    .fc-body > tr > .fc-widget-content {
                        border-bottom: none;
                    }
                    td.fc-today{
                        font-weight: 700;
                    }
                    .fc-content {
                        height: 9px;
                        @media (max-width:768px) {height: 7px;}
                    }
                    .fc-event {
                        border: none;
                        border-radius: 0;
                    }
                    .fc-event-container {
                        margin: 0;
                    }
                    .fc-day-grid-event {
                        margin: 3px 0;
                        @media (max-width:768px) {margin: 2px 0;}
                    }
                    .fc-highlight {
                        background-color: transparent;
                    }
                    .fc-day-grid-event, 
                    .fc-day-grid-event:hover, 
                    .fc-day-grid-event:hover .fc-content {
                        cursor: default;
                    }
                }
                .fc-scroller {
                    overflow: hidden !important;
                    height: 100% !important;
                }

                // (calendar-component3.html, 임상연구보호센터 - 교육신청 관리 - 교육 일정)
                &.custom__title_block{
                    .fc-view{
                        .fc-title {
                            display: block;color: #fff;font-size: 15px;font-weight: 700;
                            @media (max-width:768px) {font-size: 14px;}
                        }
                        .fc-content {
                            height: auto;padding: 5px;text-align: center;
                        }
                        .fc-day-grid-event, 
                        .fc-day-grid-event:hover, 
                        .fc-day-grid-event:hover .fc-content {
                            cursor: pointer;
                        }
                    }
                }

                // 오늘날짜 / 선택날짜 / 예약불가 / 예약가능 스타일
                &.custom_type2{
                    .fc-view{
                        // 오늘날짜 : s
                        td.fc-today{
                            font-weight: 400;
                        }
                        .fc-widget-content{
                            .fc-bg{
                                td.fc-today{position: relative;background-color: #fff;
                                    &::before{content: '';position: absolute;left: 0;top: 0;width: calc(100% - 4px);height: calc(100% - 4px);border: 2px solid #1e2d75;}
                                }
                            }
                        }
                        // 오늘날짜 : e

                        // 선택날짜 : s
                        td.select_day{
                            .fc-day-number{color: #fff;}
                        }
                        .fc-widget-content{
                            .fc-bg{
                                td.select_day{background-color: #3180ef;}
                            }
                        }
                        // 선택날짜 : e

                        // 예약불가 : s
                        .fc-widget-content{
                            .fc-bg{
                                td.unavailable{background-color: #f6f7f9;}
                            }
                        }
                        // 예약불가 : e
                    }
                }
                .calDate {margin: 0;}
                .calBtn {
                    &.prev {
                        left: 0; background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.91 7.11773V9.09H3.87211L9.41766 14.6123L8.00227 16.0277L0.0899999 8.09227L8.02547 0.18L9.41766 1.57219L3.87211 7.11773H17.91Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                    }
                    &.next {
                        right: 0; background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0899999 7.11773V9.09H14.1279L8.58234 14.6123L9.99773 16.0277L17.91 8.09227L9.97453 0.18L8.58234 1.57219L14.1279 7.11773H0.0899999Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                    }
                }
                .calHeader {
                    position: relative; width: 100%; display: block; margin: 0 0 34px 0;
                    @media (max-width:768px) {margin: 0 0 20px 0;}
                }
                table {display: table; border-collapse: collapse; border-spacing: 0; table-layout: fixed; width: 100%;}
                thead th.sun,
                tbody td.sun .day {color: #d14709;}
                thead th.sat,
                tbody td.sat .day {color: #2678b1;}
                thead {
                    tr {
                        th {
                            padding: 14px 0; color: #1d1d1d; font-size: 18px; font-weight: 600; line-height: 30.36px; border-top: 1px solid #666; border-bottom: 1px solid #d9dae1;
                        }
                    }
                }
                tbody {
                    border-bottom: 1px solid #d9dae1;
                    .cal-inner {
                        display: block; width: 100%; height: 100%;
                    }
                    .day {
                        min-height: 93px; display: flex; align-items: flex-start; justify-content: center; padding: 16px 0 0; width: 100%; height: 100%; color: #1D1D1D; outline: none; letter-spacing: -0.16px; line-height: 130%;
                        @media (max-width: 768px) {min-height: 60px; font-size: 15px;}
                        @media (max-width: 490px) {padding: 6px 0 0;}
                    }
                    td {
                        position: relative; border: 1px solid #d9dae1; vertical-align: top;
                        &::before {
                            position: absolute; left: 0; top: 0; display: none; width: 100%; height: 100%; content: ''; border: 2px solid #1E2D75;
                        }
                        &:first-child {border-left: none;}
                        &:last-child {border-right: none;}
                        &.today {
                            &::before {display: block;}
                        }
                        &.select {
                            background-color: #3180EF;
                            .day {color: #FFF;}
                        }
                        &.off {background-color: #F6F7F9;}
                    }
                }
            }
        }
    }

    // 우측 콘텐츠 영역
    .list-area{
        &.type1{
            .list_box{
                width: calc(100% + 20px);margin:0 -10px;
            }
            .inner{
                overflow-y: scroll;padding: 0 10px;
                &::-webkit-scrollbar {
                    width: 6px;
                    height: 6px;
                }
                /* 스크롤바 색상 및 둥근 테두리 */
                &::-webkit-scrollbar-thumb {
                    background: #ccc; 
                    border-radius: 20px; 
                }
            }
            .item{margin-bottom: 20px;
                &:last-child{margin-bottom: 0;}
            }
            .link{
                display: block;padding: 46.3px 40px;min-height: 267.5px;width: 100%;
                @media (max-width:1280px) {padding: 30px;min-height: auto;}
                @media (max-width:490px) {padding: 20px;}
            }
            .title_box{padding-bottom: 15px;border-bottom: 1px solid #D9DAE1;margin-bottom: 20px;
                @media (max-width:1280px) {margin-bottom: 15px;}
                &.n2{display: flex;align-items:baseline;
                    @media (max-width:490px) {flex-wrap: wrap;}
                    .title{flex:1;
                        @media (max-width:490px) {flex:auto;width: 100%;order:2;}
                    }
                }
                .title{display: block;position: relative;padding-left: 40px;color: #000;font-family: "title_font";font-size: 24px;font-weight: 700;line-height: 150%;text-align: left;
                    @media (max-width:1280px) {font-size: 20px;padding-left: 36px;}
                    @media (max-width:768px) {font-size: 18px;padding-left: 34px;}
                    @media (max-width:490px) {font-size: 16px;padding-left: 32px;}
                }
                .icon{position: absolute;left: 0;top: 0.25em;width: 25px;height: 25px;
                    @media (max-width:1280px) {width: 21px;height: 21px;top: 0.24em;}
                    @media (max-width:768px) {width: 19px;height: 19px;top: 3px;}
                    @media (max-width:490px) {width: 17px;height: 17px;top: 3px;}
                }
            }
        }
        &.type2{
            &.h_type1{
                .title_box{margin-bottom: 30px;
                    @media (max-width:490px) {margin-bottom: 10px;}
                }
                .select_list_wrap{padding-bottom: 40px;
                    @media (max-width:768px) {padding-bottom: 30px;}
                    @media (max-width:490px) {padding-bottom: 0;}
                    .select_inner{
                        .obj{max-height: 348px;
                            @media (max-width:490px) {max-height: 281px;}
                        }
                        .select_time{padding: 18px 20px;
                            @media (max-width:490px) {font-size: 14px;padding: 12px 4px;}
                        }
                    }
                }
            }
            .select_wrap{padding: 47px 48px;margin-bottom: 40px;
                @media (max-width:1280px) {padding: 30px;margin-bottom: 30px;}
                @media (max-width:490px) {padding: 20px;margin-bottom: 20px;}
            }
            .title_box{border-bottom: 1px solid #666;padding-bottom: 20px;margin-bottom: 20px;
                @media (max-width:490px) {padding-bottom: 10px;margin-bottom: 10px;}
            }
            .cal_title{line-height: 150%;
                .point{color: #3180EF;}
            }
            .inner_title_box{margin-bottom: 10px;
                .title{color: #1d1d1d;font-size: 20px;font-weight: 700;line-height: 30.36px;
                    @media (max-width:1280px) {font-size: 18px;}
                }
            }
            .select_list_wrap{margin-bottom: 30px;display: flex;border-bottom: 1px solid #D9DAE1;padding-bottom: 13px;
                @media (max-width:768px) {margin-bottom: 20px;}
                @media (max-width:490px) {border-bottom: none;padding-bottom: 0;flex-wrap:wrap;}
                .select_list{flex:1;
                    @media (max-width:490px) {flex:auto;width: 100%;}
                    &.list1{padding-right: 25px;position: relative;
                        @media (max-width:1280px) {padding-right: 15px;}
                        @media (max-width:490px) {padding-right: 0;padding-bottom: 10px;}
                        &::before{content: '';position: absolute;right: 0;bottom: 0;width: 1px;height: calc(100% - 40px);border-right: 1px dashed #D9DAE1;
                            @media (max-width:490px) {display: none;}    
                        }
                    }
                    &.list2{padding-left: 25px;
                        @media (max-width:1280px) {padding-left: 15px;}
                        @media (max-width:490px) {padding-left: 0;}
                    }
                }
                .inner_title_box{margin-bottom: 10px;}
                .select_inner{
                    .obj{
                        max-height: 352px;overflow-y: auto;margin:0 -10px;width: calc(100% + 20px);padding-bottom: 1px;
                        &::-webkit-scrollbar {
                            width: 6px;
                            height: 6px;
                        }
                        /* 스크롤바 색상 및 둥근 테두리 */
                        &::-webkit-scrollbar-thumb {
                            background: #ccc; 
                            border-radius: 20px; 
                        }
                        .box1{padding: 0 10px;overflow: hidden;}
                        .box2{display: flex;flex-wrap: wrap;width: calc(100% + 10px);height: calc(100% + 10px);margin: -5px;}
                        .item{width: 50%;padding: 5px;}
                        .col3{
                            .item{width: calc(100%/3);
                                @media (max-width:1280px) {width: calc(100%/2);}
                            }
                        }
                    }
                    .select_time{position: relative;width: 100%;border:1px solid #D9DAE1;overflow: hidden;display: inline-flex;align-items: center;justify-content: center;max-width: 100%;padding: 15px 20px 14px;background-image: none;overflow-wrap: break-word;transition: all .3s;line-height: 120%;letter-spacing: .16px;margin: 0;border-radius: 4px;height: 100%;
                        @media (max-width:490px) {padding: 8px 12px;font-size: 15px;}
                        &.unavailable{background-color: #F6F7F9;
                            .txt{color: #666;}
                            &:hover{background-color: #F6F7F9;
                                .txt{color: #666;}
                            }
                        }
                        input[type="radio"] {
                            display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;opacity: 0;margin: 0;
                        }
                        input[type="radio"]:checked + .chk_ball {
                            background: #3180ef;color: #fff;
                        }
                        input[type="radio"]:checked ~ .txt{
                            color: #fff;
                        }
                        .chk_ball{
                            position: absolute;left: 0;top: 0; width: 100%;height: 100%;border: none;background: none;
                        }
                        .txt{position: relative;z-index: 1;color: #1d1d1d;text-align: center;
                            .bold{color: inherit;margin-bottom: 3px;display: inline-block;}
                        }
                        &:hover{background-color: #3180ef;
                            .txt{color: #fff;}
                        }
                    }
                    
                }
            }
            .select_result_wrap{
                .result{
                    padding: 25px 0;border-radius: 16px 16px 0 0;background: #F3F6FC;display: flex;align-items:center;
                    @media (max-width:490px) {padding: 25px 30px;flex-wrap:wrap;margin-bottom: 10px;border-radius:8px;}
                    .item{flex:1;display: flex;justify-content:center;align-items:center;position: relative;
                        @media (max-width:490px) {flex:auto;width: 100%;margin-bottom: 20px;justify-content:start;
                            &:last-child{margin-bottom: 0;}
                        }
                        .inner{position: relative;padding-left: 29px;line-height: 1;}
                        .fa{content: '';position: absolute;left: 0;top: 0; display: inline-block;background-repeat: no-repeat;background-position: center;background-size: cover;margin-right: 8px;
                            &.fa-date{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M18.5 6.60547H2.5V17.6055H18.5V6.60547Z' stroke='%231D1D1D' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M18.5 2.60547H2.5V6.60547H18.5V2.60547Z' stroke='%231D1D1D' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M7.03906 3.737V1.48047' stroke='%231D1D1D' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M13.957 3.737V1.48047' stroke='%231D1D1D' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M7 9.96094H8' stroke='%231D1D1D' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M13 9.96094H14' stroke='%231D1D1D' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M7 13.9453H8' stroke='%231D1D1D' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M13 13.9453H14' stroke='%231D1D1D' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E");width: 21px;height: 21px;}
                            &.fa-clock{background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99998 19.46C14.9706 19.46 19 15.4305 19 10.46C19 5.48941 14.9706 1.45996 9.99998 1.45996C5.02943 1.45996 1 5.48941 1 10.46C1 15.4305 5.02943 19.46 9.99998 19.46Z' stroke='%231D1D1D' stroke-width='1.5' stroke-linejoin='bevel'/%3E%3Cpath d='M10 6.45996L9.99955 10.46H6' stroke='%231D1D1D' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");width: 20px;height: 21px;}
                        }
                        .text{color: #1d1d1d;font-size: 18px;font-weight: 600;line-height: 1.167;letter-spacing: 0.54px;
                        }
                    }
                    .date_box{
                        &::after{content: '';width: 1px;height: 15px;opacity: 0.5;background: #1D1D1D;position: absolute;right:0;top: 50%;transform: translate(0,-50%);
                            @media (max-width:490px) {display: none;}
                        }
                    }
                }
                .submit_btn{width: 100%;border-radius: 0 0 16px 16px;display: inline-flex;align-items: center;justify-content: center;max-width: 100%;background-image: none;overflow-wrap: break-word;transition: all .3s;line-height: 120%;letter-spacing: .16px;margin: 0;padding: 18px 25px 18px 25px;font-size: 19px;border: 1px solid #3180ef;background-color: #3180ef;color: #fff;
                    .fa{display: none;font-size: 0;width: 16px;height: 16px;background-size: 100%;vertical-align: middle;position: relative;background-repeat: no-repeat;background-position: center;margin-right: 0;margin-left: 4px;background-image:url("data:image/svg+xml;charset=utf8,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 8H2.5' stroke='white' stroke-linejoin='round'/%3E%3Cpath d='M10.5 4L14.5 8L10.5 12' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        @media (max-width:490px) {display: inline-block;}
                    }
                    &:hover{background-color: #fff;border: 1px solid #3180ef;color: #3180ef;
                        .fa{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 8H2.5' stroke='%233180EF' stroke-linejoin='round'/%3E%3Cpath d='M10.5 4L14.5 8L10.5 12' stroke='%233180EF' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
                    }
                    @media (max-width:490px) {border-radius: 6px;padding: 8px 12px;font-size: 15px;}
                }
            }
        }
    }

    // 우측 콘텐츠 내부 리스트 스타일
    .cb-list {
        &::after {content: ''; display: block; clear: both;}
        &.content {
            margin-top: 16px;
            @media (max-width: 430px) {margin-top: 5px;}
            li {
                .subjact {position: relative; display: inline-block;}
                .con {
                    padding-left: 11px; margin-top: -22px;
                    @media (max-width: 430px) {margin-top: 0;}
                }
            }
        }
        li {
            &.n2{
                .con{padding-left: 3.6em;}
            }
            &.n4{
                .con{padding-left: 5.6em;}
            }
            position: relative; float: left; margin: 10px 0 0 0; display: block; width: 100%;text-align: left;
            @media (max-width:1280px) {margin: 5px 0 0 0;}
            &::before {display: none;}
            &:first-child {margin-top: 0;}
            .subjact {
                position: absolute; left: 0; top: 0; display: block; font-weight: 700; color: #36404A; font-size: 18px; line-height: 150%; min-width: 54px; text-align: justify;
                @media (max-width:1280px) {font-size: 16px;}
                @media (max-width:768px) {font-size: 15px;}
                &::after {display: none;}
            }
            .con {
                display: block; color: #1D1D1D; font-size: 18px; font-weight: 400;line-height: 150%; padding-right: 30px;word-break: keep-all;
                @media (max-width:1280px) {font-size: 16px;}
                @media (max-width:768px) {font-size: 15px;}
                &.bold {color: #222; font-weight: 700;}
            }
        }
    }

    // calendar-component5.html 스타일
    #scheduleListView{
        padding: 52px 38px;margin-top: 30px;
        @media (max-width:1280px) {padding: 30px;}
        @media (max-width:490px) {padding: 20px;margin-top: 20px;}
        a{color: #000;}
        .cal{min-height: 627px;position: relative;display: flex;
            @media (max-width:1024px) {flex-wrap: wrap;min-height: auto;}
        }
        .h{
            height: inherit;width: 380px;padding: 70px 20px;
            @media (max-width:1280px) {width: 30%;}
            @media (max-width:1024px) {width: 100%;height: auto;padding: 0px;margin-bottom: 15px;}
            @media (max-width:490px) {margin-bottom: 10px;}
        }
        .h-inner{
            @media (max-width:1024px) {display: flex;justify-content: space-between;align-items: center;margin-bottom: 20px;}
            a{
                overflow: hidden;text-indent: -1000px;position: relative;margin-top: 30px;
                @media (max-width:1024px) {margin-top: 0;}
            }
            .btn_prev {
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.91 7.11773V9.09H3.87211L9.41766 14.6123L8.00227 16.0277L0.0899999 8.09227L8.02547 0.18L9.41766 1.57219L3.87211 7.11773H17.91Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                margin-right: 10px;
                @media (max-width:1024px) {order:1;margin-right: 0;}
            }
            .btn_next {
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0899999 7.11773V9.09H14.1279L8.58234 14.6123L9.99773 16.0277L17.91 8.09227L9.97453 0.18L8.58234 1.57219L14.1279 7.11773H0.0899999Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                @media (max-width:1024px) {order:3;}
            }
        }
        .cal_title{font-size: 50px;text-align: left;line-height: 0.9em;
            @media (max-width:1280px) {font-size: 40px;}
            @media (max-width:1024px) {order:2;font-size: 28px;}
            @media (max-width:768px) {font-size: 24px;}
            @media (max-width:490px) {font-size: 20px;}
        }
        .legend-box {
            position: absolute;bottom: 60px;left: 0px;padding: 0 20px;
            @media (max-width:1024px) {position: static;padding: 0;padding-top: 20px;margin: -15px;flex-direction:row;justify-content: flex-end;flex-wrap:wrap;}
            @media (max-width:490px) {margin: -5px;padding-top: 10px;}
            &.type2{
                .item{
                    @media (max-width:1024px) {margin: 0;margin: 15px;}
                    @media (max-width:490px) {margin: 5px;}
                }
            }
        }
        .m{flex:1;min-width: 500px;
            @media (max-width:1024px) {min-width: auto;width: 100%;flex:auto;}
            .sun{
                a,
                span{color: #d14709;}
            }
            .sat{
                a,
                span{color: #2678b1;}
            }
            .other-month{
                span{opacity: 0.3;}
            }
            .off{background: #f6f7f9;}
            .today{border: 2px solid #1e2d75;}
            .on{background: #3180ef;
                a,
                span{color: #fff;}
            }
        }
        .weekday_list{
            border-top: 1px solid #666;display: flex;border-bottom: 1px solid #d9dae1;
            li{padding: 14px 0;flex:1;text-align: center;
                @media (max-width:490px) {padding: 6px 0;}
                span{color: #1d1d1d;font-size: 18px;font-weight: 600;line-height: 30.36px;
                    @media (max-width:768px) {font-size: 15px;}
                }
            }
        }
        .date_list{
            display: flex;flex-wrap: wrap;position: relative;
            &::before{content: '';position: absolute;right:0;height: 100%;width: 1px;background: #fff;}
            li{width: calc(100% / 7);border-right: 1px solid #d9dae1;border-bottom: 1px solid #d9dae1;text-align: center;
                a,
                span{display: block;line-height: 93px;
                    @media (max-width:768px) {font-size: 15px;}
                    @media (max-width:490px) {line-height: 60px;}
                }
            }
        }
    }
}

// 권역호스피스센터 - 교육 및 홍보 신청 - 교육 및 행사 캘린더
.p-rhc-eduAndPR-main{
    .ui-calendar{
        .list-area{
            &.type1{
                .inner{
                    @media (max-width:1024px) {max-height: 380px;}
                    @media (max-width:768px) {max-height: 368px;}
                    @media (max-width:490px) {max-height: 406px;}
                }
                .ui-message{
                    .message-result{
                        @media (max-width:1024px) {min-height: 380px;}
                        @media (max-width:768px) {min-height: 368px;}
                        @media (max-width:490px) {min-height: 406px;}
                    }
                }
            } 
        }
    } 
}

// 건강관리센터(국가검진) - 국가검진 - 국가검진 예약신청 - 예약 희망일 선택
.p-nhic-govCheck{
    .result-box{
        &.type3{
            .program__step-bar {
                .step__item {
                    @media (max-width:1024px) {min-width: 150px;}
                    @media (max-width:768px) {min-width: auto;}
                }
            }
        }
    }
}


